
<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>


<!-- start new -->

<div class="flex-table">
    <div class="database_table_title">
        <div>Logo</div>
        <div>Name</div>
        <div>Geography</div>
        <div>Hyperlocal</div>
        <div>Commission</div>
        <div>Category</div>
        <div>Delivery</div>
    </div>

  
  <div class="database_table_body">
    <% @companies.each do |company| %>
      <div id="database_body">
        <div id="database_table_image"><%= image_tag(company.logo_url, width:90, height:70) %></div>
        <div><%= company.name %></div>
        <div><%= company.geography %></div>
        <div><%= company.hyperlocal %></div>
        <div><%= company.commission %></div>
        <div><%= company.category %></div>
        <div><%= company.delivery %></>
        <div><%= link_to 'Show', company %></div>
        <div><%= link_to 'Edit', edit_company_path(company) %></div>
        <div><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></div> 
      </div>
    <% end %>
  </div>
</div>

<!-- end experiment -->

<br>

<%= link_to 'New Company', new_company_path %>

